
h1 {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    background-color: #1282A2;
    width: 600px;
    padding: 1.5rem;
    border-radius: 5px;
    color: white;
    font-size: 40px;
}

p {
    display: flex;
    justify-content: center;
    margin: 4rem auto;
    font-size: 24px;
}

.ahref {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: .7rem;
    text-decoration: none;
    border: solid #1282A2;
    border-radius: 5px;
    width: 100px;
    color: black;
    font-size: 18px;
}
